/* MacFarlane custom css */

img#tensorflowLogo {
  display: flex;
  position: center;
  align-items: center;
}

#textdiv {
  /* The image used */
  background-image: url("https://blog.paperspace.com/content/images/2021/01/paperspace-scaled-yolov4.001.jpeg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* MacFarlane custom css */
* {
  margin: 0;
  padding: 0;
  position: center;
  box-sizing: inherit;
}
html {
  font-size: 1rem;
  box-sizing: border-box;
}
body {
  flex: auto;
  width: 95%;
  height: 95%;
  color: #272727;
  line-height: 1.9;
  background-color: #f7f5f5;
  font-family:Arial, Helvetica, sans-serif;
}
h2{
    text-align: center;
    font-size: 2rem;
    line-height: 3.5;
}

button .fas{
    color: rgba(255, 255, 255, .5);
}

body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    color: #3D3D3D;
  }
  
  h1 {
    font-style: italic;
    color: #0707e7;
  }
  
  video {
    display: block;
  }
  
  section {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }

  .removed {
    display: none;
  }
  
  .invisible {
    opacity: 0.2;
  }
  
  .camView {
    position: relative;
    float: left;
    width: calc(100% - 20px);
    margin: 10px;
    cursor: pointer;
  }
  
  .camView p {
    position: absolute;
    padding: 5px;
    background-color: rgba(255, 111, 0, 0.85);
    color: #FFF;
    border: 1px dashed rgba(255, 255, 255, 0.7);
    z-index: 2;
    font-size: 12px;
  }
  
  .highlighter {
    background: rgba(0, 255, 0, 0.25);
    border: 1px dashed #fff;
    z-index: 1;
    position: absolute;
  }
  

  /* DEFAULTS BELOW, CHANGE! */
